<div class="box">
	<% if pin.user != current_user %>
		<div class="add_button">
			<%= render 'pins/add_button' %>
		</div>
		<button class="btn btn-danger like_button">Like</button>
	<% end %>
	<a href="#<%= pin.id %>"><%= image_tag pin.image(:medium) %></a>
  <p class="pin_text content"><%= pin.content %> - <%= pin.author %></p>
  <p class="pin_text"><strong>Category: </strong><%= pin.category %> - 
		<% if (current_user == pin.user) || (current_user.admin) %>
		  	<%= link_to 'Edit', edit_pin_path(pin) %>
		<% end %>
	</p>
</div>